body {
    background-color: #000;
  }
  h1 {
    color: #bbe5ed;
    font-size: 60px;
    text-align: center;
  }
  h2 {
    color: #9ED8FF;
      font-size: 30px;
  }
  h1, h2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
  }
  #chosen-word {
    font-size: 30px;
    text-align: center;
  }
  
    p {
      font-family: 'PT Serif', serif;   
    }
  .word-box {
    margin: 0 auto;
    border: .1px solid black;
    padding: 20px;
    height: 130px;
    width: 300px; 
    margin: 0 auto;
  }
  p {
    color: #bcf8ec
  }
  .wins-losses {
    border: .5px solid black;
    margin-top: 35px;
    padding: 10px;
  }
  
  .guesses {
    border: .5px solid black;
    margin-top: 35px;
    padding: 10px;
  }
  
  #play-again {
    font-size: 20px;
    background-color: #bbe5ed;
    margin: 0 auto;
    color: #000; 
    display:block;
    font-family : 'PT serif';
  }
  #play-again:hover {
    font-size: 20px;
    background-color: #bbe5ed;
    margin: 0 auto;
    color: #000; 
    cursor:pointer;
  }